body {
    height: 100%;
    /* overflow: auto; */
    display: grid;
    gap: 30px;
}

header {
    
    background: url('../img/lb.jpg')#22222285 ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    display: grid;
    grid-template-rows: 0.4fr 1fr;
    gap: 50px;
    background-blend-mode: overlay;
}

header img {
    width: 70px;
}

header nav a {
    margin: 10px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

#navbar {
     display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    /* position: sticky; */
    /* position: sticky;
    top:0; */
    /* z-index: 1; */
    /* bottom: 0; */
}

h1 {
    font-size: 30px;
    margin-bottom: 15px;
}

main div div p {
  /* margin-left: 50px; */
  text-align: center;
  font-size: 20px;
  color: black;
  /* color: white; */
}

#qoutes {
  display: flex;
  /* width: 80%; */
  justify-content: center;
  align-content: center;
  /* align-items: flex-start; */
  /* align-items:center; */
  margin-left: 270px;
margin-right: 270px;


}

button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3e3e3e;
    background-color: #cbb58b;
    border-color: #cbb58b;
    height: 50px;
    opacity: 0.9;
}

main {
    display: grid;
    place-items: center;
}

#events {
    margin: 50px auto;
    width: 1000px;
    height: 400px;
    
}

#events h1 {
    color: rgb(26, 25, 25);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}


nav {
  display: flex;
  justify-content: space-around;
  
}

nav h4 {
  margin: 20px;
  padding: 10px;
  border-style: none;
  border-style: none;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-radius: 5px;
  border-color: transparent;
  background-color: #f2f2f2;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  }

 .active, nav h4:hover {
    border-color: transparent;
    background-color: #c48e81ab;
}

#event {
  display: flex;
  gap: 10px;
  width: 1000px;
   
  }
  
  #aj{
  padding-top:15px;

  }
  
  #event img {
    width: 350px;
    height: 250px;
    margin-right: 47px;
    
  }

  #pra{
    margin-left: 33px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    height: 200px;
    
}

#randomBooks {
  background-color: rgb(236, 236, 236);
  width: 100%;
  text-align: center;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 20px 0;
}

#fourBooks {
  /* width: 100%; */
  width: 1000px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  
}

/* .cat a {
  width: 20px;
} */



.card {
    height: 250px;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 220px;
    margin: 15px;
  }
  .card:hover {
    transform: rotateY(180deg);
  }
  .card .side {
    backface-visibility: hidden;
    border-radius: 6px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
  }
  .card .back {
    background: white;
    border: 1px solid black;
    color:black;
    text-align: center;
    transform: rotateY(180deg);
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 2px;
    font-size: large;
  }
  
  #pra {
    overflow: auto;
   height: 320px;
  }

a {
  text-decoration: none;
  color: white;
}


  div.side.back {
      display: grid;
      gap:5px
  }

  div.side.back section h1 {
    font-size: 20px;
      font-weight: bold;
  }

  div.side.back section p {
      overflow: auto;
      /* height: 70px; */
  }

div.side img {
    height: inherit;
    width: 200px;
}

#catagory {
    background-color: rgb(231, 226, 226);
    width: 100%;
    text-align: center;
    /* height: 150%; */
    display: grid;
    place-items: center;
    padding: 20px 0;
}

#fourCat {
    width: 1000px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* align-items: center; */
    text-align: center;
    height: 100%;
    /* margin-bottom: 10px; */
   
}

.cat {
    height: 250px;
    /* transform-style: preserve-3d; */
    transition: all 0.5s ease-in-out;
    width: 220px;
    margin: 15px;
    cursor: pointer;
}

.cat a {
  height: 250px;
    /* transform-style: preserve-3d; */
    transition: all 0.5s ease-in-out;
    width: 220px;
    /* margin: 15px; */
    cursor: pointer;
  
}

.cat:hover {
    transform: scale(1.12);
}

.cat a img {
    height: inherit;
    width: 200px;
}

footer {
    /* background-image: url('../img/aaaa.png'); */
    background-color: black;
    width: 100%;
    background-attachment: fixed;
    height: 200px;
    display: grid;
    place-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: 700;
    padding:40px 0;
    text-align: center;
}


#logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    font-size: 25px;
    font-family: 'Bad Script', cursive;
}




footer img {
    width: 70px;

}



  
 ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
 li {
    padding:0 10px;
  }
  
 ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
 ul a:hover {
    opacity:1;
  }
  
.social {
    text-align:center;
    padding-bottom:25px;
  }
  
.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
.social > a:hover {
    opacity:0.9;
  }
  
.copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  

  #footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    font-family: 'Bad Script', cursive;
    text-align: center;
  }


.btn:checked {
  border-color: transparent;
  background-color: #c48e81ab;
}

.btn:active {
  border-color: transparent;
    background-color: #c48e81ab;
}


.container.py-5 {
  display: grid;
  /* place-items: center; */
  /* width: 90%; */
  text-align: center;
}

  
  .output {
    text-align:center;
    font-family: 'Source Code Pro', monospace;
    color:white;
    
  }

  .output h1 {
    font-size:35px;
    text-transform: capitalize;
  }
  
  /* Cursor Styling */
  
  .cursor::after {
    content:'';
    display:inline-block;
    margin-left:3px;
    background-color:white;
    animation-name:blink;
    animation-duration:0.5s;
    animation-iteration-count: infinite;
  }
  h1.cursor::after {
    height:24px;
    width:13px;
  }
  p.cursor::after {
    height:13px;
    width:6px;
  }
  
  @keyframes blink {
    0% {
      opacity:1;
    }
    49% {
      opacity:1;
    }
    50% {
      opacity:0;
    }
    100% {
      opacity:0;
    }
  }



  @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

  body {
    font-family: 'Montserrat', sans-serif;
    /* background: #ECF0F1; */
  }

  button {
    position: relative;
    /* width: 250px; height: 60px; */
    background: #E74C3C;
    /* margin: 0 auto; */
    /* margin-top: 40px; */
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: color .3s;
    /* Typo */
    /* line-height: 60px; */
    text-align: center;
    color: #fff;
    width: 100%;
  }

  button:after {
    position: absolute;
    top: 90%; left: 0;
    width: 100%; height: 100%;
    background: #C0392B;
    content: "";
    z-index: -2;
    transition: transform .3s;
  }

  button:hover::after {
    transform: translateY(-80%);
    transition: transform .3s;
  }

  .action {
      display: grid;
      place-items: center;
      margin-bottom: 20px;
  }




/* [Object] Modal
 * =============================== */
 .modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  transition: opacity .25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 50%;
  color: black;
  display: grid;
  width: 380px;
  border-radius: 15px;
  cursor: default;
  display: grid;
    place-items: center;
  /* grid-template-columns: auto; */
  /* place-items: center; */
  /* width: fit-content; */
}

.modal__inner form {
  gap: 20px;
    display: grid;
    place-items: center;
    height: 100%;
    flex-direction: column;
    align-content: center;

}

.modal__inner span {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  height: 100%;
  gap: 20px;
}

.modal__inner button {
  width: 50%;
}

.modal__inner input {
  width: 150px;
}

.modal__inner textarea {
  width: 150px;
}

.modal__inner label {
  text-align: left;
  /* width: 190px; */
  /* margin: 0; */
  width: fit-content;
}




.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

.sticky {
	
  background-color: #22222215;
	position: -webkit-sticky;
	position: fixed;
	top: 0;
}
