body{
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    margin: auto;
}

main img{
    width: 60%;
    border-radius: 10px;
}
main{
display: flex;
justify-content: space-around;
}

#div1{
    display: block;  
    margin-left: 60px;
    
}

#div2{
    
    display: flex;
    width: 20%;
    align-items: center;
    margin-right: 60px;
    line-height: 2.5;
}